# Note this assumes DigitalOcean
# which requires at least one of setup.py, requirements.txt, and Pipfile in repo root
# See https://www.digitalocean.com/docs/app-platform/languages-frameworks/python/#limits
-r requirements/production.txt