{% extends "__base.html" %}
{% load template_filters %}

{% block container %}
<p></p>This is a submission for the DigitalOcean App Platform Hackathon on DevTo</p>

<p></p>See this DevTo <a href="https://dev.to/devteam/announcing-the-digitalocean-app-platform-hackathon-on-dev-2i1k">announcement</a> for hackathon details.</p>

<p></p>See this <a href="https://dev.to/devteam/announcing-the-digitalocean-app-platform-hackathon-on-dev-2i1k">official submission</a> representing this app.</p>

{% endblock %}
