{% extends "__base.html" %}

{% block container %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Create a New Server</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <select name="sizes" id="sizes" hx-get="/do/sizes" hx-trigger="load">
                <option value="none">original</option>
            </select>
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>
</div>
{% endblock %}