{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block meta_tags %}
  <meta name="csrf-token" content="{{ csrf_token }}">
  {% endblock %}
  <title>{% block title %}DjangoGreen {% endblock %}</title>

  {% block css %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% endblock %}

  {% block custom_css %}
  {% endblock %}
</head>
<body>

  {% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">DjangoGreen</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" hx-trigger="click, keyup[ctrlKey&&shiftKey&&key=='H']"
            href="/servers">Servers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" hx-trigger="click, keyup[ctrlKey&&shiftKey&&key=='A']"
            href="/about">About</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item" >
            <a class="nav-link" hx-trigger="click" hx-target="body" hx-push-url="true"
            hx-post="/accounts/logout/">Logout</a>
          </li>
          {% else %}
          <li class="nav-item" >
            <a class="nav-link" href="/login">Login</a>
          </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}

  <div class="container mt-4">
  {% block container %}
  {% endblock %}
  </div>

  {% block js %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org@1.1.0"></script>
  <script>
    const csrf_token = document.querySelector('meta[name="csrf-token"]').content;
    htmx.on('htmx:configRequest', (evt) => {
      evt.detail.headers['X-CSRFToken'] = csrf_token;
    });
  </script>
  {% endblock %}

  {% block custom_js %}
  {% endblock %}
</body>
</html>